.container {
  display: flex;
  gap: 24px;
  padding: 16px;

  app-chess-board {
    display: block;
    width: 400px;
    height: 400px;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .column {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .piece {
    width: 56px;
    height: 56px;
    font-size: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.15);
    }
  }

  .step {
    cursor: pointer;
  }

  .radio-group {
    display: flex;
    flex-direction: column;
  }
}
