.classroom-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.classroom-container {
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: hidden;
  width: 100%;
  &.gathered {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}