<div class="board-wrapper" [class.hidden]="hidden()">
  <div
    class="overlay-wrapper"
    [class.locked]="isLocked() && feedback() === ''"
    [class.stamp-mode]="isGathered() && activeTool() === 'stamp'"
    (click)="onBoardClick($event)"
    (mouseup)="onMouseUp($event)"
  >
    <div class="curtain" [class.open]="!classroomStore.curtainClosed()">
      <img src="/images/curtain.png" alt="" />
    </div>
    <app-chess-board
      #chessBoard
      [config]="boardConfig()!"
      [mushroomMode]="isMushroomMode()"
      [style.--mushroom-emoji]='"\"" + mushroomType() + "\""'
    ></app-chess-board>
    <app-piece-overlay #pieceOverlay [orientation]="boardOrientation()"></app-piece-overlay>
    <app-stamp-overlay #stampOverlay></app-stamp-overlay>
    @if (isGathered()) {
      @for (concept of classroomStore.incomingTeachingOverlay() ?? []; track concept.id) {
        <app-teaching-overlay
          [conceptId]="concept.id"
          [squares]="concept.squares"
          orientation="white"
        ></app-teaching-overlay>
      }
      <app-drawing-canvas
        [strokes]="drawingService.localStrokes()"
        [annotations]="drawingService.localAnnotations()"
        [active]="activeTool() === 'pen'"
        (pointAdded)="onPointAdded($event)"
        (strokeCommitted)="onStrokeCommitted($event)"
      ></app-drawing-canvas>
    }
  </div>
  <div class="file-helper" [class.reversed]="boardOrientation() === 'black'">
    <span>🍎</span><span>🍌</span><span>😺</span><span>🥁</span>
    <span>🐭</span><span>🪥</span><span>🍄</span><span>☃️</span>
  </div>
</div>

@if (isGathered()) {
  <app-drawing-toolbar
    [(activeTool)]="activeTool"
    [(activeStampIcon)]="activeStampIcon"
    (colorSelected)="onColorSelected($event)"
  ></app-drawing-toolbar>
}

@if (stampCollection().length > 0) {
  <div class="collection">
    @for (stamp of stampCollection(); track $index) {
      <app-stamp-svg style="background:white; border-radius:25px;" [type]="stamp" [size]="48"></app-stamp-svg>
    }
  </div>
}

@if (mushroomCollectionValues()) {
  <div class="collection">
    @for (emoji of mushroomCollectionKeys(); track emoji) {
      @if (mushroomCollection()[emoji] > 0) {
        <span class="collection-item">{{ mushroomCollection()[emoji] }}x{{ emoji }}</span>
      }
    }
  </div>
}

@if (feedback()) {
  <div class="feedback">{{ feedback() }}</div>
}
