.row{
    display:flex;
}
.piece{
  width: 56px;
  height: 56px;
  font-size: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  
  &:hover {
    transform: scale(1.15);
  }

}