@use '../../../shared/recording' as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 16px;

  app-chess-board {
    display: block;
    width: var(--board-size);
    height: var(--board-size);
  }
}

.conditions-row {
  display: flex;
  gap: 32px;
}

 .move-list{
    display:flex;
    .move-item{
      display:flex;
      align-items: center;
    }
  }
.conditions-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 220px;

  
 
  .save-btn {
    padding-top: 16px;
    border-top: 1px solid var(--mat-sys-outline-variant);
    text-align:center;
  }
    .return-btn{
    text-align: center;
  }
}