<div class="container">
  <div class="sidebar" [class.loading]="exerciseService.isLoading()">
    @if (exerciseService.isLoading()) {
      <div class="spinner-overlay">
        <mat-spinner diameter="32"></mat-spinner>
      </div>
    }
   
  @if (!selectedList()) {
    <!-- Panel 1 -->
    <app-exercise-list-picker (select)="onListSelected($event)"></app-exercise-list-picker>
    <div class="sidebar-actions">
      @if (isListCreationActive()) {
        <mat-form-field>
          <mat-label>Lista címe</mat-label>
          <input matInput [(ngModel)]="title" />
        </mat-form-field>
      }
      <button mat-button (click)="addList()">
        {{ isListCreationActive() ? 'Save list' : '+New list' }}
      </button>
    </div>
  } @else {
    <!-- Panel 2 -->
    <button matButton="tonal" (click)="selectedList.set(null)">
      <mat-icon>arrow_back</mat-icon> {{ selectedList()!.title }}
    </button>
    @for (exercise of selectedList()!.exercises; track exercise.id) {
      <div style="display:flex;justify-content: center;">
        <span class="list-item"  (click)="selectExercise(exercise)">{{ exercise.title }}</span>
        <button matIconButton  (click)="deleteExercise(exercise.id)"><mat-icon class="trash-icon">delete</mat-icon></button>
      </div>
    }
    <button mat-button (click)="addExercise(selectedList()!.id)">
      + New exercise
    </button>
    <button mat-button class="delete-btn" (click)="deleteList(selectedList()!.id)">
       Delete list
     </button>
  }
  </div>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>