<div class="board-wrapper">
  <div class="overlay-wrapper">
    <app-chess-board #chessBoard [config]="boardConfig()"></app-chess-board>
  </div>
  <div class="file-helper" [class.reversed]="myColor() === 'black'">
    <span>🍎</span><span>🍌</span><span>😺</span><span>🥁</span>
    <span>🐭</span><span>🪥</span><span>🍄</span><span>☃️</span>
  </div>
  @if (pendingPromotion()) {
    <div class="promotion-overlay">
      @if (myColor() === 'white') {
        <div class="piece" (click)="completePromotion('q')">♕</div>
        <div class="piece" (click)="completePromotion('r')">♖</div>
        <div class="piece" (click)="completePromotion('n')">♘</div>
        <div class="piece" (click)="completePromotion('b')">♗</div>
      } @else {
        <div class="piece" (click)="completePromotion('q')">♛</div>
        <div class="piece" (click)="completePromotion('r')">♜</div>
        <div class="piece" (click)="completePromotion('n')">♞</div>
        <div class="piece" (click)="completePromotion('b')">♝</div>
      }
    </div>
  }
</div>
