@if (overlay(); as data) {
  @let pos = position()!;

  <svg
     width="100%"
    height="100%"
    viewBox="0 0 8 8"
    preserveAspectRatio="none"
    style="position: absolute; top: 0; left: 0; pointer-events: none"
  >
    @if (data.expression === 'alarmed') {
      <circle [attr.cx]="pos.x + 0.32" [attr.cy]="pos.y + 0.45" r="0.13" fill="white" stroke="#333" stroke-width="0.03"/>
      <circle [attr.cx]="pos.x + 0.32" [attr.cy]="pos.y + 0.45" r="0.07" fill="#111"/>
      <circle [attr.cx]="pos.x + 0.68" [attr.cy]="pos.y + 0.45" r="0.13" fill="white" stroke="#333" stroke-width="0.03"/>
      <circle [attr.cx]="pos.x + 0.68" [attr.cy]="pos.y + 0.45" r="0.07" fill="#111"/>
      <line
        [attr.x1]="pos.x + 0.22" [attr.y1]="pos.y + 0.27"
        [attr.x2]="pos.x + 0.42" [attr.y2]="pos.y + 0.21"
        stroke="#111" stroke-width="0.05" stroke-linecap="round"/>
      <line
        [attr.x1]="pos.x + 0.58" [attr.y1]="pos.y + 0.21"
        [attr.x2]="pos.x + 0.78" [attr.y2]="pos.y + 0.27"
        stroke="#111" stroke-width="0.05" stroke-linecap="round"/>
      <ellipse
        [attr.cx]="pos.x + 0.5" [attr.cy]="pos.y + 0.72"
        rx="0.09" ry="0.07"
        stroke="#000" stroke-width="0.03" fill="white"/>
    }

    @if (data.expression === 'checkmate') {
     <line [attr.x1]="pos.x + 0.26" [attr.y1]="pos.y + 0.39" [attr.x2]="pos.x + 0.38" [attr.y2]="pos.y + 0.51" stroke="#111" stroke-width="0.06" stroke-linecap="round"/>
      <line [attr.x1]="pos.x + 0.38" [attr.y1]="pos.y + 0.39" [attr.x2]="pos.x + 0.26" [attr.y2]="pos.y + 0.51" stroke="#111" stroke-width="0.06" stroke-linecap="round"/>
      <line [attr.x1]="pos.x + 0.62" [attr.y1]="pos.y + 0.39" [attr.x2]="pos.x + 0.74" [attr.y2]="pos.y + 0.51" stroke="#111" stroke-width="0.06" stroke-linecap="round"/>
      <line [attr.x1]="pos.x + 0.74" [attr.y1]="pos.y + 0.39" [attr.x2]="pos.x + 0.62" [attr.y2]="pos.y + 0.51" stroke="#111" stroke-width="0.06" stroke-linecap="round"/>
      <line [attr.x1]="pos.x + 0.32" [attr.y1]="pos.y + 0.68" [attr.x2]="pos.x + 0.68" [attr.y2]="pos.y + 0.68" stroke="#111" stroke-width="0.05" stroke-linecap="round"/>
      <rect [attr.x]="pos.x + 0.49" [attr.y]="pos.y + 0.68" width="0.16" height="0.12" rx="0.05" fill="#e05555" stroke="#111" stroke-width="0.02"/>

    }
  </svg>
}
