<div class="simul-layout">
  <div class="simul-sidebar">
    @for (board of peerBoards(); track board.name) {
      @if ($odd) {
        <div class="peer-board-card">
          <h2>{{ board.name }}</h2>
          <div class="peer-board-wrapper">
            <app-chess-board gameMode='duel' [config]="board.config"></app-chess-board>
          </div>
        </div>
      }
    }
  </div>

  <div class="main-board-area">
    <div class="overlay-wrapper" (mouseup)="onMouseUp($event)">
      <app-chess-board #chessBoard gameMode='duel' [config]="boardConfig()"></app-chess-board>
    </div>
  </div>

  <div class="simul-sidebar">
    @for (board of peerBoards(); track board.name) {
      @if ($even) {
        <div class="peer-board-card">
          <h2>{{ board.name }}</h2>
          <div class="peer-board-wrapper">
            <app-chess-board gameMode='duel' #chessBoard [config]="board.config"></app-chess-board>
          </div>
        </div>
      }
    }
  </div>
  @if (promotionService.pending()) {
    <app-promotion color="black" (promote)="promotionService.completePromotion($event)"></app-promotion>
  }
</div>
