
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */

// Global styles

:root {
  --board-size: 640px;
  --mini-board-size: 250px;
}

// Board overwrites
.mushroom-mode piece.black.pawn {
  background-image: none !important;
}
.mushroom-mode piece.black.pawn::after {
  content: '🍄';
  font-size: 3.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
// White pieces
.cg-wrap piece.king.white   { background-image: url('/pieces/cooke/wK.svg'); } 
.cg-wrap piece.queen.white  { background-image: url('/pieces/cooke/wQ.svg'); }
.cg-wrap piece.rook.white   { background-image: url('/pieces/cooke/wR.svg'); }
.cg-wrap piece.bishop.white { background-image: url('/pieces/cooke/wB.svg'); }
.cg-wrap piece.knight.white { background-image: url('/pieces/cooke/wN.svg'); }
.cg-wrap piece.pawn.white   { background-image: url('/pieces/cooke/wP.svg'); }

// Black pieces
.cg-wrap piece.king.black   { background-image: url('/pieces/cooke/bK.svg'); }
.cg-wrap piece.queen.black  { background-image: url('/pieces/cooke/bQ.svg'); }
.cg-wrap piece.rook.black   { background-image: url('/pieces/cooke/bR.svg'); }
.cg-wrap piece.bishop.black { background-image: url('/pieces/cooke/bB.svg'); }
.cg-wrap piece.knight.black { background-image: url('/pieces/cooke/bN.svg'); }
.cg-wrap piece.pawn.black   { background-image: url('/pieces/cooke/bP.svg'); }

.cg-wrap coords.ranks coord,
.cg-wrap coords.files coord {
  font-size: 16px;
  font-weight: 700;
}
.cg-wrap coords.ranks {
  left: auto;
  right: 3px;
 
}
.cg-wrap coords.files {
  bottom: 2px; 
  right:31px;
  left:auto;
}

//for future theming
cg-board {
  background-color: #f0d9b5 !important; 
}
