.container {
  position: relative;
  width: 100%;
  min-width: 300px;
  min-height: 640px;
  box-sizing: border-box;
  border-radius:20px;
}

.white-board {
  min-width: 300px;
  min-height: 640px;
  height: auto;
  overflow-y: hidden;
  resize: none;
  box-sizing: border-box;
  padding: 12px;
  border:none;
  border-radius:20px;
  background-image: url('../../../../../public/images/paper-bg.jpg');
  font-family:cursive;
  font-size:large
}